@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 20px;
}

html,
body {
	@apply w-screen h-screen bg-neutral-950 text-neutral-300;
}

a {
	@apply no-underline text-inherit hover:text-orange-700 hover:underline underline-offset-8 decoration-emerald-800;
}

.container {
	@apply max-w-screen-xl h-screen my-0 mx-auto py-0 px-16 flex flex-col justify-between;
}

main {
	@apply max-w-full h-screen overflow-y-auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	@apply self-center py-1 px-3 bg-emerald-800 rounded-md border-2 border-emerald-800 hover:bg-transparent hover:border-orange-700 hover:rounded-2xl;
}

form {
	@apply my-0 mx-auto flex flex-col gap-4 w-11/12;
}

input,
textarea {
	@apply px-3 py-2 bg-white text-emerald-800 border-2 border-neutral-300 rounded-md text-sm placeholder-neutral-300   
	focus:outline-none focus:border-emerald-800 
	invalid:text-orange-700
	focus:invalid:border-orange-700 focus:invalid:text-orange-700;
}

label {
	@apply text-xl italic;
}

@layer components {
	.title-text {
		@apply text-3xl capitalize;
	}
	.paint-stroke {
		@apply absolute bottom-4 left-4 p-2 pr-16 italic text-lg bg-gradient-to-r from-emerald-800 from-75%;
	}
}
